body {
    margin: 0;
    padding: 0;
    align-items: center;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    display: flex;
    background-color: rgb(2, 121, 28);
}

.container {
    border-radius: 5px;
    text-align: center;
    background-color: white;
    max-width: 80%;
    box-shadow: 0 0 10px 5px;
}

.answers-grid {

}

.buttons {
    margin: 10px;
}

.hidden {
    display: none;
}